In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
train_data.shape

(1460, 81)

In [5]:
train_data.isna().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 81, dtype: int64

In [6]:
train_data.describe(include="all")

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
count,1460.000000,1460.000000,1460,1201.000000,1460.000000,1460,91,1460,1460,1460,...,1460.000000,7,281,54,1460.000000,1460.000000,1460.000000,1460,1460,1460.000000
unique,NaN,NaN,5,NaN,NaN,2,2,4,4,2,...,NaN,3,4,4,NaN,NaN,NaN,9,6,NaN
top,NaN,NaN,RL,NaN,NaN,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,Gd,MnPrv,Shed,NaN,NaN,NaN,WD,Normal,NaN
freq,NaN,NaN,1151,NaN,NaN,1454,50,925,1311,1459,...,NaN,3,157,49,NaN,NaN,NaN,1267,1198,NaN
mean,730.500000,56.897260,NaN,70.049958,10516.828082,NaN,NaN,NaN,NaN,NaN,...,2.758904,NaN,NaN,NaN,43.489041,6.321918,2007.815753,NaN,NaN,180921.195890
std,421.610009,42.300571,NaN,24.284752,9981.264932,NaN,NaN,NaN,NaN,NaN,...,40.177307,NaN,NaN,NaN,496.123024,2.703626,1.328095,NaN,NaN,79442.502883
min,1.000000,20.000000,NaN,21.000000,1300.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,1.000000,2006.000000,NaN,NaN,34900.000000
25%,365.750000,20.000000,NaN,59.000000,7553.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,5.000000,2007.000000,NaN,NaN,129975.000000
50%,730.500000,50.000000,NaN,69.000000,9478.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,6.000000,2008.000000,NaN,NaN,163000.000000
75%,1095.250000,70.000000,NaN,80.000000,11601.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,8.000000,2009.000000,NaN,NaN,214000.000000
max,1460.000000,190.000000,NaN,313.000000,215245.000000,NaN,NaN,NaN,NaN,NaN,...,738.000000,NaN,NaN,NaN,15500.000000,12.000000,2010.000000,NaN,NaN,755000.000000

In [7]:
train_data.describe(include="O")

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198

In [8]:
train_data = train_data.drop(['Alley'],axis = 1)
train_data = train_data.drop(['PoolQC'],axis = 1)
train_data = train_data.drop(['Fence'],axis = 1)
train_data = train_data.drop(['MiscFeature'],axis = 1)
train_data = train_data.drop(['FireplaceQu'],axis = 1)
train_data = train_data.drop(['GarageArea'],axis = 1)
train_data = train_data.fillna({"LotFrontage": round(np.mean(train_data['LotFrontage']))})
train_data = train_data.fillna({"MasVnrType": "RL"})
train_data = train_data.fillna({"MasVnrArea": round(np.mean(train_data['MasVnrArea']))})
train_data = train_data.fillna({"BsmtQual": "TA"})
train_data = train_data.fillna({"BsmtCond": "TA"})
train_data = train_data.fillna({"BsmtExposure": "No"})
train_data = train_data.fillna({"BsmtFinType1": "Unf"})
train_data = train_data.fillna({"BsmtFinType2": "Unf"})
train_data = train_data.fillna({"Electrical": "SBrkr"})
train_data = train_data.fillna({"GarageType": "Attchd"})
train_data = train_data.fillna({"GarageYrBlt": round(np.mean(train_data['GarageYrBlt']))})
train_data = train_data.fillna({"GarageFinish": "Unf"})
train_data = train_data.fillna({"GarageQual": "TA"})
train_data = train_data.fillna({"GarageCond": "TA"})

In [9]:
train_data.shape

(1460, 75)

In [10]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [11]:
train_data_T = train_data.T
train_data_T.shape

(75, 1460)

In [12]:
train_data_T.duplicated().sum()

0

In [13]:
columns = train_data.columns

In [14]:
columns.shape

(75,)

In [15]:
X = train_data.iloc[:,0:-1].values
y = train_data.iloc[:,-1].values

In [16]:
X.shape, y.shape

((1460, 74), (1460,))

In [17]:
for i in range(74):
    print(i,X[0][i])

0 1
1 60
2 RL
3 65.0
4 8450
5 Pave
6 Reg
7 Lvl
8 AllPub
9 Inside
10 Gtl
11 CollgCr
12 Norm
13 Norm
14 1Fam
15 2Story
16 7
17 5
18 2003
19 2003
20 Gable
21 CompShg
22 VinylSd
23 VinylSd
24 BrkFace
25 196.0
26 Gd
27 TA
28 PConc
29 Gd
30 TA
31 No
32 GLQ
33 706
34 Unf
35 0
36 150
37 856
38 GasA
39 Ex
40 Y
41 SBrkr
42 856
43 854
44 0
45 1710
46 1
47 0
48 2
49 1
50 3
51 1
52 Gd
53 8
54 Typ
55 0
56 Attchd
57 2003.0
58 RFn
59 2
60 TA
61 TA
62 Y
63 0
64 61
65 0
66 0
67 0
68 0
69 0
70 2
71 2008
72 WD
73 Normal

In [18]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X[:,2] = labelencoder_X.fit_transform(X[:,2])
labelencoder_X_2 = LabelEncoder()
X[:,5] = labelencoder_X_2.fit_transform(X[:,5])
labelencoder_X_3 = LabelEncoder()
X[:,6] = labelencoder_X_3.fit_transform(X[:,6])
labelencoder_X_4 = LabelEncoder()
X[:,7] = labelencoder_X_4.fit_transform(X[:,7])
labelencoder_X_5 = LabelEncoder()
X[:,8] = labelencoder_X_5.fit_transform(X[:,8])
labelencoder_X_6 = LabelEncoder()
X[:,9] = labelencoder_X_6.fit_transform(X[:,9])
labelencoder_X_7 = LabelEncoder()
X[:,10] = labelencoder_X_7.fit_transform(X[:,10])
labelencoder_X_8 = LabelEncoder()
X[:,11] = labelencoder_X_8.fit_transform(X[:,11])
labelencoder_X_9 = LabelEncoder()
X[:,12] = labelencoder_X_9.fit_transform(X[:,12])
labelencoder_X_10 = LabelEncoder()
X[:,13] = labelencoder_X_10.fit_transform(X[:,13])
labelencoder_X_11 = LabelEncoder()
X[:,14] = labelencoder_X_11.fit_transform(X[:,14])
labelencoder_X_12 = LabelEncoder()
X[:,15] = labelencoder_X_12.fit_transform(X[:,15])
labelencoder_X_13 = LabelEncoder()
X[:,20] = labelencoder_X_13.fit_transform(X[:,20])
labelencoder_X_14 = LabelEncoder()
X[:,21] = labelencoder_X_14.fit_transform(X[:,21])
labelencoder_X_15 = LabelEncoder()
X[:,22] = labelencoder_X_15.fit_transform(X[:,22])
labelencoder_X_16 = LabelEncoder()
X[:,23] = labelencoder_X_16.fit_transform(X[:,23])
labelencoder_X_17 = LabelEncoder()
X[:,24] = labelencoder_X_17.fit_transform(X[:,24])
labelencoder_X_18 = LabelEncoder()
X[:,26] = labelencoder_X_18.fit_transform(X[:,26])
labelencoder_X_19 = LabelEncoder()
X[:,27] = labelencoder_X_19.fit_transform(X[:,27])
labelencoder_X_20 = LabelEncoder()
X[:,28] = labelencoder_X_20.fit_transform(X[:,28])
labelencoder_X_21 = LabelEncoder()
X[:,29] = labelencoder_X_21.fit_transform(X[:,29])
labelencoder_X_22 = LabelEncoder()
X[:,30] = labelencoder_X_22.fit_transform(X[:,30])
labelencoder_X_23 = LabelEncoder()
X[:,31] = labelencoder_X_23.fit_transform(X[:,31])
labelencoder_X_24 = LabelEncoder()
X[:,32] = labelencoder_X_24.fit_transform(X[:,32])
labelencoder_X_25 = LabelEncoder()
X[:,34] = labelencoder_X_25.fit_transform(X[:,34])
labelencoder_X_26 = LabelEncoder()
X[:,38] = labelencoder_X_26.fit_transform(X[:,38])
labelencoder_X_27 = LabelEncoder()
X[:,39] = labelencoder_X_27.fit_transform(X[:,39])
labelencoder_X_28 = LabelEncoder()
X[:,40] = labelencoder_X_28.fit_transform(X[:,40])
labelencoder_X_29 = LabelEncoder()
X[:,41] = labelencoder_X_29.fit_transform(X[:,41])
labelencoder_X_30 = LabelEncoder()
X[:,52] = labelencoder_X_30.fit_transform(X[:,52])
labelencoder_X_31 = LabelEncoder()
X[:,54] = labelencoder_X_31.fit_transform(X[:,54])
labelencoder_X_32 = LabelEncoder()
X[:,56] = labelencoder_X_32.fit_transform(X[:,56])
labelencoder_X_33 = LabelEncoder()
X[:,58] = labelencoder_X_33.fit_transform(X[:,58])
labelencoder_X_34 = LabelEncoder()
X[:,60] = labelencoder_X_34.fit_transform(X[:,60])
labelencoder_X_35 = LabelEncoder()
X[:,61] = labelencoder_X_35.fit_transform(X[:,61])
labelencoder_X_36 = LabelEncoder()
X[:,62] = labelencoder_X_36.fit_transform(X[:,62])
labelencoder_X_37 = LabelEncoder()
X[:,72] = labelencoder_X_37.fit_transform(X[:,72])
labelencoder_X_38 = LabelEncoder()
X[:,73] = labelencoder_X_38.fit_transform(X[:,73])

In [19]:
from sklearn.feature_selection import VarianceThreshold

In [20]:
# Create VarianceThreshold object with a variance with a threshold of 0.5
thresholder = VarianceThreshold(threshold =.5)

# Conduct variance thresholding
X_var = thresholder.fit(X)
features = thresholder.get_support(indices = True)  # Returns array of indexes of nonremoved features
X_high_variance = thresholder.transform(X)

In [21]:
np.shape(X_high_variance)

(1460, 55)

In [22]:
features

array([ 0,  1,  3,  4,  6,  7,  9, 11, 12, 14, 15, 16, 17, 18, 19, 20, 22,
       23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 39, 41, 42, 43,
       44, 45, 50, 52, 53, 54, 56, 57, 58, 59, 63, 64, 65, 66, 67, 68, 69,
       70, 71, 72, 73], dtype=int64)

In [23]:
new_columns = []
for i in range(len(features)):
    name = columns[features[i]]
    new_columns.append(name)

In [24]:
new_columns

['Id',
 'MSSubClass',
 'LotFrontage',
 'LotArea',
 'LotShape',
 'LandContour',
 'LotConfig',
 'Neighborhood',
 'Condition1',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'HeatingQC',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BedroomAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition']

In [25]:
len(new_columns)

55

In [26]:
df = pd.DataFrame(X_high_variance)
df.columns = new_columns

In [27]:
df.head()

,Id,MSSubClass,LotFrontage,LotArea,LotShape,LandContour,LotConfig,Neighborhood,Condition1,BldgType,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,65,8450,3,3,4,5,2,0,...,61,0,0,0,0,0,2,2008,8,4
1,2,20,80,9600,3,3,2,24,1,0,...,0,0,0,0,0,0,5,2007,8,4
2,3,60,68,11250,0,3,4,5,2,0,...,42,0,0,0,0,0,9,2008,8,4
3,4,70,60,9550,0,3,0,6,2,0,...,35,272,0,0,0,0,2,2006,8,0
4,5,60,84,14260,0,3,2,15,2,0,...,84,0,0,0,0,0,12,2008,8,4

In [28]:
X = df.values

In [29]:
y.shape, X.shape

((1460,), (1460, 55))

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X

array([[1, 60, 65.0, ..., 2008, 8, 4],
       [2, 20, 80.0, ..., 2007, 8, 4],
       [3, 60, 68.0, ..., 2008, 8, 4],
       ...,
       [1458, 70, 66.0, ..., 2010, 8, 4],
       [1459, 20, 68.0, ..., 2010, 8, 4],
       [1460, 20, 75.0, ..., 2008, 8, 4]], dtype=object)

In [32]:
y

array([208500, 181500, 223500, ..., 266500, 142125, 147500], dtype=int64)

In [33]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [34]:
X_train.shape

(1168, 55)

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [37]:
y_pred = reg.predict(X_test)

In [38]:
y_pred

array([235786.48987132, 138444.40064244, 218419.54613782, 147762.43315295,
        80920.60555657, 126333.07666579, 117930.56450702, 282295.0284114 ,
       137731.8563844 , 151308.05892769, 133452.48521028, 191639.08323435,
       246181.88348186,  93211.14654638, 356050.26620178,  88418.34619831,
       171677.80586452, 177151.57780361, 192331.14131228, 211280.43486347,
       133733.01180197, 288080.40207514, 171946.30781484, 141088.26646923,
       191774.29552578, 344057.06731539, 202062.69672935, 365220.15464263,
       145756.40256585, 161678.61420553, 147105.24802829, 247845.43978143,
       828001.08047132, 175968.39727999, 116933.39076009, 228827.62710856,
       143016.37604071, 212499.25751299, 122075.94115156, 419083.34210665,
       160885.42260035, 243577.56689222, 241175.11473125, 310933.11955827,
       202324.95859295, 171024.07221856, 150052.04670548, 214762.11881867,
       152032.65954226, 212444.15147337, 263589.84776404, 197198.41514025,
       220176.8272507 , 332998.86270422, 114594.41178718, 203671.37698909,
       202292.26969012, 112161.0547524 , 105306.87097055, 292025.65694136,
       143319.60655485, 184591.75657368, 293409.46353177, 212313.53874014,
       109838.94356794, 162239.75742056, 141128.78702491, 191057.31392376,
       205215.29241108,  87874.55502093, 192920.0260108 , 100581.12145674,
       248420.4880336 ,  69613.18353528, 209686.30184604, 201656.09183956,
       369284.24321709, 131899.60770018, 109665.92535958, 189149.67673355,
       199740.18398586, 242585.64531841, 152746.38823769, 204545.75778463,
       237459.77328108, 123111.21861983, 166712.89180257, 126451.40680241,
       194639.53523903, 115240.40876205,  64771.83216386, 178235.76758754,
       135430.60851359, 136854.30659603, 183939.27511435,  77528.7505254 ,
       128515.6176266 , 316736.61446759, 137372.31576618, 176129.61696401,
       181963.93087598, 145844.77433287,  98821.86961491, 391243.84907135,
       190753.76133759, 187663.51075877, 166300.52533379, 297875.20923292,
       209512.10307592, 132358.61753524, 152568.58159164, 283077.67945018,
       264490.66425189, 103382.28948755, 245336.73416378, 124604.27342648,
       203938.89986153, 205141.6946393 , 239601.7251867 ,  24256.97388134,
       215056.91681103, 174722.8199289 ,  77248.09686685, 194333.08135288,
        85612.81166494, 277294.43019043, 145737.09096751, 151124.1863535 ,
       213765.04441513, 133605.09452813, 216084.18671231, 208242.81150588,
       121846.56516224,  82726.99469924, 134717.91313206,  92835.09639051,
       203400.36498359, 201242.95090256, 341986.08018166, 190980.70962594,
       229447.19607475, 204517.76537402, 124591.56718388,  24161.03167339,
       128766.12175548, 379533.94951606, 250756.01497391, 143893.75679805,
       124431.69592937, 125692.29228856, 237513.88858293,  71396.29291701,
       148250.2746297 , 140600.69412289, 150825.93528342, 172951.28635556,
       165613.57751341, 135658.21955768, 125014.35854206, 264931.11953277,
       221389.82615296, 214651.68018696,  98323.93072156, 210490.15784737,
       298979.39626136, 143491.53811789, 196022.38440421, 242715.64183141,
       129023.00858281, 123482.15210619, 211243.77617215, 131296.99650311,
       335482.56345304, 125002.38371485, 174309.05516067, 130846.51660191,
       167706.84214371, 258225.8047939 ,  95467.36486518, 301721.82186513,
       135512.89588768, 130378.22078641, 123063.50185819, 113948.11734077,
       121713.33854714, 159684.35826435, 187099.3048448 , 231254.70291342,
       218620.1251458 , 103800.3400353 , 128544.68110371,  66220.95441519,
       334538.50148871, 240107.22744954, 185688.34607446, 141097.40485682,
       221110.45169106, 177124.780863  , 297608.76777439, 234877.88307886,
       110639.48644431, 267313.21629577, 156438.42338768,  38758.47894177,
       289631.72311887, 376491.77382164, 133380.75117925, 122420.19816702,
       192022.55450641, 177233.41808928, 302606.42775   , 151219.91941844,
       277537.95347168, 237122.70221468, 117013.62436084,  99492.60818212,
       213413.97470627, 162565.89333261, 195231.83970116, 522408.11848075,
       180991.64263794,  80814.53442681,  81407.33089641,  67708.4778023 ,
        93435.57531585, 269539.99049804, 141727.52783052, 216978.2452398 ,
       211954.98193061, 250095.41094163, 140057.98169327, 200889.3728517 ,
       138819.3107075 , 329123.43327341, 151997.78352215, 165836.37730494,
       109076.19612972, 251094.1721933 , 256921.54301049, 114533.00411524,
       308839.13855899, 111625.51335876, 123143.00120132, 186543.88072555,
       184169.34365318, 145703.10532789, 122524.83987407, 145304.37104388,
       183092.42226239, 198495.23325763, 184113.56537061,  42013.40274627,
       164373.43307227, 110561.27397294, 183325.60776478, 194740.82509719,
       178035.90076209, 194170.72307388, 188029.33333403, 131244.53916168,
       363273.33852413, 177186.95120535, 101364.85188643, 129383.81756938,
       130692.44487635, 247233.08064545,  82059.15189495, 148627.95465299,
       417302.74559627, 340100.14328663, 189690.23204061,  90815.72030201,
       128044.18660694, 218844.28767464, 106458.69821605, 178172.74849737,
       207887.72799312, 252728.17187651, 172471.24799192, 133068.90806979,
       171534.45820426, 100882.77396963,  94266.0605959 , 175724.65626208,
       161583.78544084, 165360.46325521, 213808.67397746,  94487.87491608,
       188761.96888435, 397866.37350525, 221392.62635359, 193395.19221036])

In [39]:
from sklearn.metrics import mean_squared_error

In [40]:
mse = mean_squared_error(y_test, y_pred)

In [41]:
rmse = np.sqrt(mse)

In [42]:
mse, rmse

(2370099604.2135835, 48683.66876287759)

In [43]:
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [44]:
columns = test_data.columns

In [45]:
drop_columns = []
for i in range(len(columns)):
    if columns[i] not in new_columns:
        drop_columns.append(columns[i])

In [46]:
len(drop_columns)

25

In [47]:
test_data = test_data.drop(labels=drop_columns,axis=1)

In [48]:
test_data.head()

,Id,MSSubClass,LotFrontage,LotArea,LotShape,LandContour,LotConfig,Neighborhood,Condition1,BldgType,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,80.0,11622,Reg,Lvl,Inside,NAmes,Feedr,1Fam,...,0,0,0,120,0,0,6,2010,WD,Normal
1,1462,20,81.0,14267,IR1,Lvl,Corner,NAmes,Norm,1Fam,...,36,0,0,0,0,12500,6,2010,WD,Normal
2,1463,60,74.0,13830,IR1,Lvl,Inside,Gilbert,Norm,1Fam,...,34,0,0,0,0,0,3,2010,WD,Normal
3,1464,60,78.0,9978,IR1,Lvl,Inside,Gilbert,Norm,1Fam,...,36,0,0,0,0,0,6,2010,WD,Normal
4,1465,120,43.0,5005,IR1,HLS,Inside,StoneBr,Norm,TwnhsE,...,82,0,0,144,0,0,1,2010,WD,Normal

In [49]:
test_data.isna().sum()

Id                 0
MSSubClass         0
LotFrontage      227
LotArea            0
LotShape           0
LandContour        0
LotConfig          0
Neighborhood       0
Condition1         0
BldgType           0
HouseStyle         0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
RoofStyle          0
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
ExterCond          0
Foundation         0
BsmtQual          44
BsmtExposure      44
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
HeatingQC          0
Electrical         0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BedroomAbvGr       0
KitchenQual        1
TotRmsAbvGrd       0
Functional         2
GarageType        76
GarageYrBlt       78
GarageFinish      78
GarageCars         1
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
SaleType           1
SaleCondition      0
dtype: int64

In [50]:
test_data.describe(include="O")

,LotShape,LandContour,LotConfig,Neighborhood,Condition1,BldgType,HouseStyle,RoofStyle,Exterior1st,Exterior2nd,...,BsmtFinType1,BsmtFinType2,HeatingQC,Electrical,KitchenQual,Functional,GarageType,GarageFinish,SaleType,SaleCondition
count,1459,1459,1459,1459,1459,1459,1459,1459,1458,1458,...,1417,1417,1459,1459,1458,1457,1383,1381,1458,1459
unique,4,4,5,25,9,5,7,6,13,15,...,6,6,5,4,4,7,6,3,9,6
top,Reg,Lvl,Inside,NAmes,Norm,1Fam,1Story,Gable,VinylSd,VinylSd,...,GLQ,Unf,Ex,SBrkr,TA,Typ,Attchd,Unf,WD,Normal
freq,934,1311,1081,218,1251,1205,745,1169,510,510,...,431,1237,752,1337,757,1357,853,625,1258,1204

In [51]:
test_data = test_data.fillna({"LotFrontage": round(np.mean(test_data['LotFrontage']))})
test_data = test_data.fillna({"MSZoning": "RL"})
test_data = test_data.fillna({"Utilities": "AllPub"})
test_data = test_data.fillna({"Exterior1st": "VinylSd"})
test_data = test_data.fillna({"Exterior2nd": "VinylSd"})
test_data = test_data.fillna({"MasVnrType": "RL"})
test_data = test_data.fillna({"MasVnrArea": round(np.mean(test_data['MasVnrArea']))})
test_data = test_data.fillna({"BsmtQual": "TA"})
test_data = test_data.fillna({"BsmtCond": "TA"})
test_data = test_data.fillna({"BsmtExposure": "No"})
test_data = test_data.fillna({"BsmtFinType1": "GLQ"})
test_data = test_data.fillna({"BsmtFinType2": "Unf"})
test_data = test_data.fillna({"BsmtFinSF1": round(np.mean(test_data['BsmtFinSF1']))})
test_data = test_data.fillna({"BsmtFinSF2": round(np.mean(test_data['BsmtFinSF2']))})
test_data = test_data.fillna({"BsmtUnfSF": round(np.mean(test_data['BsmtUnfSF']))})
test_data = test_data.fillna({"TotalBsmtSF": round(np.mean(test_data['TotalBsmtSF']))})
test_data = test_data.fillna({"KitchenQual": "TA"})
test_data = test_data.fillna({"Functional": "Typ"})
test_data = test_data.fillna({"GarageType": "Attchd"})
test_data = test_data.fillna({"GarageYrBlt": round(np.mean(test_data['GarageYrBlt']))})
test_data = test_data.fillna({"GarageFinish": "Unf"})
test_data = test_data.fillna({"GarageCars": round(np.mean(test_data['GarageCars']))})
test_data = test_data.fillna({"GarageQual": "TA"})
test_data = test_data.fillna({"GarageCond": "TA"})
test_data = test_data.fillna({"SaleType": "WD"})

In [52]:
test_data.isna().sum()

Id               0
MSSubClass       0
LotFrontage      0
LotArea          0
LotShape         0
LandContour      0
LotConfig        0
Neighborhood     0
Condition1       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
MasVnrArea       0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinSF1       0
BsmtFinType2     0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
HeatingQC        0
Electrical       0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BedroomAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Functional       0
GarageType       0
GarageYrBlt      0
GarageFinish     0
GarageCars       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
dtype: int64

In [53]:
X2 = test_data.iloc[:,:].values

In [54]:
X2.shape

(1459, 55)

In [55]:
for i in range(55):
    print(i,X2[0][i])

0 1461
1 20
2 80.0
3 11622
4 Reg
5 Lvl
6 Inside
7 NAmes
8 Feedr
9 1Fam
10 1Story
11 5
12 6
13 1961
14 1961
15 Gable
16 VinylSd
17 VinylSd
18 None
19 0.0
20 TA
21 CBlock
22 TA
23 No
24 Rec
25 468.0
26 LwQ
27 144.0
28 270.0
29 882.0
30 TA
31 SBrkr
32 896
33 0
34 0
35 896
36 2
37 TA
38 5
39 Typ
40 Attchd
41 1961.0
42 Unf
43 1.0
44 140
45 0
46 0
47 0
48 120
49 0
50 0
51 6
52 2010
53 WD
54 Normal

In [56]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X2[:,4] = labelencoder_X.fit_transform(X2[:,4])
labelencoder_X_2 = LabelEncoder()
X2[:,5] = labelencoder_X_2.fit_transform(X2[:,5])
labelencoder_X_3 = LabelEncoder()
X2[:,6] = labelencoder_X_3.fit_transform(X2[:,6])
labelencoder_X_4 = LabelEncoder()
X2[:,7] = labelencoder_X_4.fit_transform(X2[:,7])
labelencoder_X_5 = LabelEncoder()
X2[:,8] = labelencoder_X_5.fit_transform(X2[:,8])
labelencoder_X_6 = LabelEncoder()
X2[:,9] = labelencoder_X_6.fit_transform(X2[:,9])
labelencoder_X_7 = LabelEncoder()
X2[:,10] = labelencoder_X_7.fit_transform(X2[:,10])
labelencoder_X_8 = LabelEncoder()
X2[:,15] = labelencoder_X_8.fit_transform(X2[:,15])
labelencoder_X_9 = LabelEncoder()
X2[:,16] = labelencoder_X_9.fit_transform(X2[:,16])
labelencoder_X_10 = LabelEncoder()
X2[:,17] = labelencoder_X_10.fit_transform(X2[:,17])
labelencoder_X_11 = LabelEncoder()
X2[:,18] = labelencoder_X_11.fit_transform(X2[:,18])
labelencoder_X_12 = LabelEncoder()
X2[:,20] = labelencoder_X_12.fit_transform(X2[:,20])
labelencoder_X_13 = LabelEncoder()
X2[:,21] = labelencoder_X_13.fit_transform(X2[:,21])
labelencoder_X_14 = LabelEncoder()
X2[:,22] = labelencoder_X_14.fit_transform(X2[:,22])
labelencoder_X_15 = LabelEncoder()
X2[:,23] = labelencoder_X_15.fit_transform(X2[:,23])
labelencoder_X_16 = LabelEncoder()
X2[:,24] = labelencoder_X_16.fit_transform(X2[:,24])
labelencoder_X_17 = LabelEncoder()
X2[:,26] = labelencoder_X_17.fit_transform(X2[:,26])
labelencoder_X_18 = LabelEncoder()
X2[:,30] = labelencoder_X_18.fit_transform(X2[:,30])
labelencoder_X_19 = LabelEncoder()
X2[:,31] = labelencoder_X_19.fit_transform(X2[:,31])
labelencoder_X_20 = LabelEncoder()
X2[:,37] = labelencoder_X_20.fit_transform(X2[:,37])
labelencoder_X_21 = LabelEncoder()
X2[:,39] = labelencoder_X_21.fit_transform(X2[:,39])
labelencoder_X_22 = LabelEncoder()
X2[:,40] = labelencoder_X_22.fit_transform(X2[:,40])
labelencoder_X_23 = LabelEncoder()
X2[:,42] = labelencoder_X_23.fit_transform(X2[:,42])
labelencoder_X_24 = LabelEncoder()
X2[:,53] = labelencoder_X_24.fit_transform(X2[:,53])
labelencoder_X_25 = LabelEncoder()
X2[:,54] = labelencoder_X_25.fit_transform(X2[:,54])

In [57]:
X2.shape

(1459, 55)

In [58]:
y_pred2 = reg.predict(X2)

In [59]:
y_pred2.shape

(1459,)

In [60]:
y_pred2

array([119743.32554984, 151578.33459393, 179762.23991882, ...,
       168653.70698633, 116008.55914131, 242638.0160527 ])

In [61]:
submit = pd.DataFrame()
submit['Id'] = test_data['Id'].values
submit['SalePrice'] = y_pred2.round()

In [62]:
submit.head()

     Id  SalePrice
0  1461   119743.0
1  1462   151578.0
2  1463   179762.0
3  1464   194527.0
4  1465   191848.0

In [63]:
submit.shape

(1459, 2)

In [64]:
submit_file = submit.to_csv('submissionFS2.csv', index = False)