In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
train.describe(include='all')

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068,550068,550068,550068.000000,550068,550068,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
unique,NaN,3631,2,7,NaN,3,5,NaN,NaN,NaN,NaN,NaN
top,NaN,P00265242,M,26-35,NaN,B,1,NaN,NaN,NaN,NaN,NaN
freq,NaN,1880,414259,219587,NaN,231173,193821,NaN,NaN,NaN,NaN,NaN
mean,1.003029e+06,NaN,NaN,NaN,8.076707,NaN,NaN,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,NaN,NaN,NaN,6.522660,NaN,NaN,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,NaN,NaN,NaN,2.000000,NaN,NaN,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,NaN,NaN,NaN,7.000000,NaN,NaN,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,NaN,NaN,NaN,14.000000,NaN,NaN,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,NaN,NaN,NaN,20.000000,NaN,NaN,1.000000,20.000000,18.000000,18.000000,23961.000000

In [5]:
train.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [6]:
train = train.fillna({"Item_Weight": "12.85"})
train = train.fillna({"Outlet_Size": "Medium"})

In [7]:
train.shape

(550068, 12)

In [8]:
X = train.iloc[:,0:-1].values
y = train.iloc[:,-1].values

In [ ]:
X.shape, y.shape

((550068, 11), (550068,))

In [ ]:
train.describe(include="O")

       Product_ID  Gender     Age City_Category Stay_In_Current_City_Years
count      550068  550068  550068        550068                     550068
unique       3631       2       7             3                          5
top     P00265242       M   26-35             B                          1
freq         1880  414259  219587        231173                     193821

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X[:,0] = labelencoder_X.fit_transform(X[:,0])
labelencoder_X_2 = LabelEncoder()
X[:,2] = labelencoder_X_2.fit_transform(X[:,2])
labelencoder_X_3 = LabelEncoder()
X[:,4] = labelencoder_X_3.fit_transform(X[:,4])
labelencoder_X_4 = LabelEncoder()
X[:,6] = labelencoder_X_4.fit_transform(X[:,6])
labelencoder_X_5 = LabelEncoder()
X[:,8] = labelencoder_X_5.fit_transform(X[:,8])
labelencoder_X_6 = LabelEncoder()
X[:,9] = labelencoder_X_6.fit_transform(X[:,9])
labelencoder_X_7 = LabelEncoder()
X[:,10] = labelencoder_X_7.fit_transform(X[:,10])

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
# Create VarianceThreshold object with a variance with a threshold of 0.5
thresholder = VarianceThreshold(threshold =.5)

# Conduct variance thresholding
X_var = thresholder.fit(X)
features = thresholder.get_support(indices = True)  # Returns array of indexes of nonremoved features
X_high_variance = thresholder.transform(X)

In [ ]:
np.shape(X_high_variance)

In [ ]:
features

In [ ]:
columns = train.columns

In [ ]:
new_columns = []
for i in range(len(features)):
    name = columns[features[i]]
    new_columns.append(name)

In [ ]:
len(new_columns)

In [ ]:
df = pd.DataFrame(X_high_variance)
df.columns = new_columns

In [ ]:
df.head()

In [ ]:
X = df.values

In [ ]:
y.shape, X.shape

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X

In [ ]:
y

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [ ]:
X_train.shape

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
reg = RandomForestRegressor(n_estimators= 100, random_state = 0)
reg.fit(X_train,y_train)

In [ ]:
y_pred = reg.predict(X_test)

In [ ]:
y_pred

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mse = mean_squared_error(y_test, y_pred)

In [ ]:
rmse = np.sqrt(mse)

In [ ]:
mse, rmse

In [ ]:
test.head()

In [ ]:
columns = test.columns

In [ ]:
drop_columns = []
for i in range(len(columns)):
    if columns[i] not in new_columns:
        drop_columns.append(columns[i])

In [ ]:
len(drop_columns)

In [ ]:
test = test.drop(labels=drop_columns,axis=1)

In [ ]:
test.head()

In [ ]:
test.isna().sum()

In [ ]:
test.describe(include="all")

In [ ]:
test = test.fillna({"Item_Weight": "12.69"})
#pap
test = test.fillna({"Outlet_Size": "Medium"})

In [ ]:
X2 = test.iloc[:,:].values

In [ ]:
test.describe(include="O")

In [ ]:
X2[0]

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X2[:,0] = labelencoder_X.fit_transform(X2[:,0])
labelencoder_X_2 = LabelEncoder()
X2[:,2] = labelencoder_X_2.fit_transform(X2[:,2])
labelencoder_X_3 = LabelEncoder()
X2[:,4] = labelencoder_X_3.fit_transform(X2[:,4])
labelencoder_X_4 = LabelEncoder()
X2[:,6] = labelencoder_X_4.fit_transform(X2[:,6])
labelencoder_X_5 = LabelEncoder()
X2[:,8] = labelencoder_X_5.fit_transform(X2[:,8])
labelencoder_X_6 = LabelEncoder()
X2[:,9] = labelencoder_X_6.fit_transform(X2[:,9])
labelencoder_X_7 = LabelEncoder()
X2[:,10] = labelencoder_X_7.fit_transform(X2[:,10])

In [ ]:
X2.shape

In [ ]:
y_pred2 = reg.predict(X2)

In [ ]:
y_pred2

In [ ]:
submit = pd.DataFrame()
submit['Item_Identifier'] = test['Item_Identifier'].values
submit['Outlet_Identifier'] = test['Outlet_Identifier'].values
submit['Item_Outlet_Sales'] = y_pred2

In [ ]:
submit.head()

In [ ]:
submit_file = submit.to_csv('submissionsimple2.csv', index = False)